@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amiko-Bold';
  src: url('/fonts/Amiko-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

/* global tweaks */
:root {
  --brand-yellow: #FAE006;
  --brand-black: #000000;
}

html,
body {
  font-family: 'Lato', ui-sans-serif, system-ui, -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

:root {
  --curve-border: 1px !important; 
  --curve-color: #FAE006 !important;
}

.curve-border {
  background: var(--curve-color);
  padding-bottom: var(--curve-border);
  clip-path: ellipse(99% 100% at 50% 0%);
  -webkit-clip-path: ellipse(99% 100% at 50% 0%);
}

.curve-inner {
  overflow: hidden;
  clip-path: ellipse(97% 99% at 50% 0%); 
  -webkit-clip-path: ellipse(97% 99% at 50% 0%);
}

.curve-inner img {
  display: block;
}

.clip-curve-bottom {
  clip-path: ellipse(250% 100% at 50% 100%);
}

@media (min-width: 1024px) {
  .clip-curve-bottom {
    clip-path: ellipse(160% 100% at 50% 100%);
  }
}

@media (min-width: 1280px) {
  .clip-curve-bottom {
    clip-path: ellipse(85% 100% at 50% 100%);
  }
}

.Amiko-Bold {
  font-family: 'Amiko-Bold';
}