---
import "../styles/global.css";
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer";
const { title = "Jewellery OS — Landing", description = "Jewellery landing page" } = Astro.props;
import { client } from "../../tina/__generated__/client";

const headerRes = await client.queries.header({
  relativePath: "header.md",
});

const footerRes = await client.queries.footer({
	relativePath: "footer.md",
});

const headerData = headerRes.data.header;
const footerData = footerRes.data.footer;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
	    <Header data={headerData}/>
		    <slot />
	    <Footer data={footerData}/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
